* {
    font-family: Verdana;
}

html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}

#container {
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
}

#sidebar {
    height: 100%;
    width: 0;
    background-color: #232323;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transition: 0.5s;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 6px;
    overflow: hidden;


}

#sidebarButton {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 43%;
    width: 15px;
    height: 80px; 
    background-color: #232323;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s;
    margin-top: 0; 
    margin-bottom:0;

}

#sidebarButton:hover {
    width: 24px;
    cursor: pointer;
}

/* Sidebar Contents */
#inventoryButton {
    width: 50%;
    height: 20px;
    background-color: white;
    z-index: 1;
    text-align: center;
    background-color: gray;
    border-radius: 4px;

}

#inventoryButton:hover {
    cursor: pointer;
}

#moneyDisplay {
    white-space: nowrap;
}

#dateDisplay {
    white-space: nowrap;
}

/* Inventory Contents */
#inventoryPage {
    width: 100%;
    height: 100%;
    background-color: black;
}

#inventoryTitle {
    text-align: center;
}

.inventoryGrid {
    margin: auto;
    padding: 10px;
    width: 90%;
    background-color: rgba(225,225,225,50%);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

}

.inventoryItem {
    width: 100px;
    height: 100px;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    border-radius: 10px;
    display: relative;
}

.inventoryItem:hover {
    border: solid black 2px;
    margin: -2px;
}

.inventoryPicture {
    width: 80px;
    height: 80px;   
}

.inventoryPopup {
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    top: -150px;
    left: -50px;
    width: 200px;
    border: 2px solid gray;
    
}

.inventoryPopup img {
    display: block;
    margin: auto;
}

.inventoryPopup p {
    color: black;
    text-align: center;
}






/* Photo Album */
#photoAlbum {
    margin: auto;
    padding: 15px;
    width: 90%;
    overflow: auto;
    background-color: darkgray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}

.photoAlbumEntry {
    width: 300px;
    overflow: auto;
    padding: 10px;
    background: white;
    border: solid black 2px;
    border-radius: 5px;
}

.photoAlbumPicture {
    aspect-ratio: auto;
    width: 300px;

}

.photoAlbumText {
    text-align: center;
    color: black;
}




/* Book */
#bookPage {
    margin-top: 5%;
    width: 60%;
    min-width: 500px;
    min-height: 85%;
    overflow: auto;
    background: gray;
    margin: auto;
    position: relative;
}

#bookPage:hover {
    cursor: pointer;
}

#bookTitle {
    color: black;
    text-align: center;
}

#bookImage {
    width: 90%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 10px;
}

#returnBookLink {
    margin-top: 10px;
    text-align: center;
}



/* Basic Style */

h1 {
    margin: 0; 
    text-align: center; 
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 2.4rem;
}
p {
    margin: 0;
    margin-left: 10px;
    color: white;
    font-size: 1.2rem;
    
}

.image {
    margin-top: 20px;
    margin-left: 20px;
    width: 50%;
    height: auto;
}


.link:hover {
    cursor: pointer;
    color: burlywood;
}






/* Start Page */
.startButton {
    margin-left: 0;
    text-align: center;
}

.startButton:hover {
    cursor: pointer;
    color: burlywood;
}
